*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #c2c2d6;
  margin: 0px;
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}